@import '@red-hat-insights/insights-frontend-components/Utilities/_variables.scss';
@import '@red-hat-insights/insights-frontend-components/Utilities/_mixins.scss';


.summary-chart {
  a {
    color: var(--pf-global--Color--100);
    text-decoration: none;
  }
  table td {
    vertical-align: middle;
    span { font-size: var(--pf-global--FontSize--sm); }
  }
}

.green {
  color: $ins-color--green;
}
